body {
    margin: 0;
}

html {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

button > img {
    height: 100%;
}

@media screen and (max-width: 900px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

}
