nav {
    background-color: #ffffff;
}

body {
    margin: 0;
}

html {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    padding: .5em;
}

.nav-logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: xx-large;
}

.nav-profilename {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

}
