nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

body {
    margin: 0;
}

html {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.nav-logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: xx-large;
}

.nav-profilename {
    display: flex;
    align-items: center;
}